body {
  color: black;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 42px;
  text-align: left;
  padding-bottom: 0;
  margin-bottom: 0;
}

h2 {
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 0;
}

h3 {
  font-size: 12px;
}

p {
  font-size: 10px;
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

ul.weather-desc {
  margin: 8px 0px 8px 0px;
}

li {
  list-style: none;
  font-size: 12px;
  text-align: left;
  height: 16px;
}

.weather-app {
  border: 1px solid #dadde1;
  border-radius: 8px;
  margin: 20px auto;
  padding: 16px;
  max-width: 650px;
}

.search-form {
  margin-bottom: 16px;
}

.main-weather-icon {
  width: 45px;
  margin-right: 4px;
}

.main-temp {
  display: inline-block;
  font-size: 48px;
  font-weight: 400;
  height: 55px;
  vertical-align: bottom;
}

.main-temp-units {
  vertical-align: bottom;
  font-size: 16px;
  height: 16px;
}

.right-summary {
  margin-top: 8px;
}

.right-summary-units {
  color: #9f9f9f;
}

.card-body {
  padding: 4px;
  margin: 0;
}

.ind-day-desc {
  color: #9f9f9f;
  font-size: 10px;
}
